<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<script src="../bower_components/angular/angular.js"></script>
	</head>
	<body ng-app="mainApp" ng-controller="mainCtrl">
		<section ng-controller='subCtrl1'>

			
		</section>	

		<section ng-controller='asyncCtrl'>
		</section>




		<form name="myForm">
 			<div contenteditable name="myWidget" ng-model="userContent"
  					srctrip-br="true"
  					required>Change me!
  			</div>
  			<span ng-show="myForm.myWidget.$error.required">Required!</span>
 			<hr>
 			<textarea ng-model="userContent"></textarea>
		</form>




		<script src="app.js"></script>
		<script src="testasync.js"></script>		
	</body>
</html>
